.title {
    margin-top: 30px;
}

.application-processing-title {
    color: #000;
    font-size: 60px;
    font-weight: 700;
}

.filters {
    margin-top: 41px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px 52px 14px 30px;

    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(117, 117, 117, 0.25);
}

.section_1 {
    display: flex;
    gap: 34px;
}

.application-processing-table {
    margin-top: 24px;
}

.table-heading {
    border: 1px solid #D9D9D9;
    background: #DFDFDF;
}

.table-heading th {
    padding: 16px 0;
    font-weight: 500;
    font-size: 15px;
}

.table-body {
    padding: 120px;
}

.table-row {
    border-bottom: 1px solid #898989;
}

.table-row td {
    padding: 26px 0 18px 0;
    text-align: center;
    font-size: 16px;
}

.table-row td p {
    border-right: 1px solid #898989;
    height: 43px;
    padding: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.action .action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
}

.document, .schedule {
    display: flex;
    gap: 11px;
}

.action-button button {
    text-decoration: underline;
}

.action-button .document-button {
    color: #FB7901;
}

.action-button .schedule-button {
    color: #5451D9;
}

.date-and-number {
    width: 100%;
    display: flex;
}

.number {
    flex: 1;
    padding-top: 14px;
    font-weight: 700;
}

.date {
    flex: 1;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.enabler-title-section {
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 12px;
    padding-top: 31px;

    display: flex;
}

.enabler-title h1 {
    font-size: 52px;
    font-weight: 700;
    color: #FB7901;
}

.enabler-title p {
    font-size: 20px;
    color: #F53838;
}

.enabler-info {
    padding-left: 102px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.enabler-document {
    margin-top: 21px;

    display: flex;
}

.file {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.file h1 {
    font-size: 30px;
    font-weight: 700;
}

.file img {
    width: 281.418px;
    height: 385px;
    object-fit: cover;

    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.enabler-button {
    /* padding: 0 67px 0 150px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 38px;
}

.schedule-title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #2B2B2B;
}

.schedule-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-form {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

.schedule-row {
    height: 66px;
    width: 100%;

    display: flex;
    gap: 30px;
}

.schedule-row input {
    text-indent: 18px;
    flex: 1;
    height: 66px;
    border-radius: 8px;
    background: #FFF;   
    box-shadow: 0px 2.884px 2.884px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
}

.date-row {
    height: 76px;
    width: 100%;
}