.title {
    margin-top: 30px;
}

.application-processing-title {
    color: #000;
    font-size: 60px;
    font-weight: 700;
}

.app-email {
    color: #2181c1;
}

.app-email:hover {
    text-decoration: underline;
    color: #ff7a00;
}

.filters {
    margin-top: 41px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px 52px 14px 30px;

    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(117, 117, 117, 0.25);
}

.section_1 {
    display: flex;
    gap: 34px;
}

.application-processing-table {
    margin-top: 24px;
}

.table-heading {
    border: 1px solid #d9d9d9;
    background: #dfdfdf;
}

.table-heading th {
    padding: 16px 0;
    font-weight: 500;
    font-size: 15px;
}

.table-body {
    padding: 120px;
}

.table-row {
    border-bottom: 1px solid #898989;
}

.table-row td {
    padding: 26px 0 18px 0;
    text-align: center;
    font-size: 16px;
}

.table-row td p {
    border-right: 1px solid #898989;
    height: 43px;
    padding: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.action .action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
}

.document,
.schedule {
    display: flex;
    gap: 11px;
    /* background-color: #fb7901; */
    color: white;
}

.action-button .document-button {
    color: #fb7901;
}

.schedule-button {
    display: flex;
    justify-content: center;
}

.schedule-button button {
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #2e94c8;
    color: #ffff;
}

.date-and-number {
    width: 100%;
    display: flex;
}

.number {
    flex: 1;
    padding-top: 14px;
    font-weight: 700;
}

.date {
    flex: 1;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.enabler-title-section {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 12px;
    padding-top: 31px;

    display: flex;
}

.enabler-title h1 {
    font-size: 52px;
    font-weight: 700;
    color: #fb7901;
}

.enabler-title p {
    font-size: 20px;
    color: #f53838;
}

.enabler-info {
    padding-left: 102px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}



.enabler-document {
    margin-top: 21px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.file {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.file h1 {
    font-size: 30px;
    font-weight: 700;
}

.file img {
    width: 281.418px;
    height: 385px;
    object-fit: cover;

    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.enabler-button {
    /* padding: 0 67px 0 150px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 38px;
}

.schedule-title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #2b2b2b;
}

.schedule-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-form {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

.schedule-row {
    height: 66px;
    width: 100%;

    display: flex;
    gap: 30px;
}

.error-textfield{
    border-color: red;
}

.schedule-row input {
    text-indent: 18px;
    flex: 1;
    height: 66px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 2.884px 2.884px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
}

.date-row {
    height: 76px;
    width: 100%;
}

.document-pdf {
    /* border: 1px solid red; */
    box-shadow: 0px 0 8px rgba(0, 0, 0, 0.12);
}

.document-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}

.image-container {
    border: 1px solid red;
}
